<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--
    配置代码自动生成
-->
<generatorConfiguration>
    <properties resource="jdbc.properties"></properties>
    <!-- 配置mysql驱动的jar包路径(绝对路径) -->
    <classPathEntry
            location="E:\apache-maven-3.6.3-idea\jar\mysql\mysql-connector-java\8.0.21\mysql-connector-java-8.0.21.jar"/>
    <context id="mysql" targetRuntime="mybatis3">
        <!-- 为了防止生成的代码中有很多注释，比较难看，加入下面的配置控制注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 生成数据表对应的model(pojo) -->
        <javaModelGenerator targetPackage="com.xtkj.pojo" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成mapper.xml映射配置文件 -->
        <sqlMapGenerator targetPackage="com.xtkj.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成mapper -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.xtkj.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 要对那些数据表进行生成操作,必须要有一个,否则报错 -->
        <table tableName="tb_userinfo" domainObjectName="UserInfo"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="true" />
        </table>

    </context>
</generatorConfiguration>